<h1>Entrar</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :relembrar %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-success my-2" %>
  </div>

  <p class="text-primary">Não possui uma conta?    <%= link_to "Cadastrar", new_user_registration_path,  class:"text-primary text-decoration-none font-weight-bold"  %></p>
  <p class="text-primary">Esqueceu sua senha?    <%= link_to "Recuperar", new_user_password_path,  class:"text-primary text-decoration-none font-weight-bold"  %></p>
 
  
 
                    
                  
<% end %>

